<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Tic Tac Toe</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <button id="new-game" type="button" class="btn btn-primary pull-right">New Game</button>
        <h1>Tic Tac Toe</h1>
      </div>
      <ul id="gameboard">
      	<% (1..9).each do |i| %>
      	 <li>
           <a class="btn btn-default tile" type="button" data-tile-id="<%= i %>" data-player="<%= @current_player.name %>">
             <span class="tile-content">
             </span>
           </a>
         </li>
      	 <% end %>
      </ul>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted text-center">Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2015 Andrew Hoglund</p>
      </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>