/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 690px;
  padding: 0 15px;
}

.container .text-muted {
  margin: 20px 0;
}


.tile-content {
  font-size: 130px;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

#gameboard .glyphicon {
  margin-top: 64px;
  margin-bottom: 10px;
  font-size: 64px;
}
#gameboard {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
#gameboard li a {
  float: left;
  margin: 0px;
  width: 33.3333%;
  height: 220px;
  padding: 10px;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #eee;
}